* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
font-size: 62.5%;

}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

nav{
    background-color: rgb(241, 188, 188);
    display: flex;
    justify-content: center;
    padding: 2rem;
gap: 1rem;

}
button{
    padding: 1rem 3rem;
    font-size: 2rem;
    background-color: #ccc;
    border: none;
    outline: none;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;

}
button:hover{
    background: chocolate;
}
main{
    background-color: #ccc;
    padding: 1rem;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;

}
p{
    color: #fff;
    font-size: 2rem;
    border: 2px solid chocolate;
    padding: 2rem ;
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;


}